/* .text {
  fill: white;
  text-anchor: middle;
} */

/* .twelve {
  font-size: 28;
} */

.date {
  font-size: 22;
  fill: black;
  font-weight: bold;
}

.time {
  fill: #888888;
  font-size: 28;
  font-weight: bold;
}

.battery {
  font-size: 20;
}

.battery-low {
  fill: crimson;
  font-weight: bold;
}

.hour-hand-color {
  fill: #666666;
}

.minute-hand-color {
  fill: #888888;
}

.second-hand-color {
  fill: #aaaaaa;
}
